body {
    margin: 0;
    font-family: sans-serif;
    font-weight: 100;
}

h1 {
    font-size: 40px;
    font-weight: 100;
    text-transform: uppercase;
}

h2 {
    font-size: 35px;
    font-weight: 100;
    margin-left: 40px;
    margin-top: 50px;
}

p {
    font-size: 18px;
    line-height: 1.5em;
    margin-left: 70px;
    color: #555;
}

.container {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    padding-top: 50px;
}

.foot {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #777;
    font-size: 14px;
}

.footer {
    width: 100%;
    background: #eee;
}

.img-card {
    background: #eee;
    padding: 30px;
    padding-bottom: 50px;
    display: inline-block;
    width: 25%;
    height: 400px;
    overflow: hidden;
    margin-top: 50px;
}

.img-card .img {
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/picasso/Les_Demoiselles_dAvignon.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.img-container {
    margin-left: 100px;
}

.x2 {
    width: 60%;
}
